@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media screen and (max-width: 768px)
{
    body, html
    {
        width: 100%;
        margin: 0%;
        overflow-x: hidden;
    }

    p, a, h1, h2
    {
        font-size: 18px;
        font-family: Roboto;
    }

    h3
    {
        font-family: Shrikhand;
    }

    h2
    {
        margin-left: 20px;
        font-size: 40px;
    }

    .loader
    {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: white;
        opacity: 0.8;
        height: 100vh;
        inset: 0;
        z-index: 1;
        animation: ghost 1s;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        transform-origin: top;
    }

    @keyframes ghost
    {
        0%
        {
            opacity: 0.8;
        }
        100%
        {
            opacity: 0;
            visibility: hidden;
        }
    }

    .loader::after
    {
        content: "";
        border-top: 5px #9356DC solid;
        border-bottom: 5px #FF79DA solid;
        border-right: 5px transparent solid;
        border-left: 5px transparent solid;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 3s;
    }

    @keyframes spin
    {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg);
        }
    }

    .logo
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        box-shadow: 0px 3px 10px rgb(124, 124, 124);
        z-index: 1;
        position: relative;
    }

    .logo img
    {
        width: 230px;
        height: 40px;
    }

    .input
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: #D9D9D9;
    }

    .input input
    {
        width: 150px;
        height: 40px;
        border: none;
        background-color: #D9D9D9;
        font-size: 18px;
        font-family: Roboto;
    }

    .input i
    {
        font-size: 20px;
        margin-right: 20px;
    }

    .explore
    {
        width: 100%;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
    }

    .explore h1, .explorep
    {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .explore h1
    {
        font-size: 35px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }

    .explorep
    {
        font-size: 18px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .btn
    {
        width: 300px;
        color: white;
        border: 1px #f2f2f2 solid;
        border-radius: 30px;
        padding: 20px 0 20px 0;
        background: linear-gradient(70deg, #FF79DA, #9356DC);
        margin-bottom: 50px;
        margin-top: 30px;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        z-index: 0;
    }

    .btn::before
    {
        content: "";
        position: absolute;
        top: 64px;
        left: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(70deg, #ffa8e6, #ad80e5);
        transition: all .5s;
        border-radius: 30% 30% 0 0;
        z-index: -1;
    }

    .btn:hover::before
    {
        top: 0;
        border-radius: 0;
    }

    .btn:hover
    {
        box-shadow: 5px 3px 10px rgb(124, 124, 124);
    }

    .menu
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fonction
    {
        display: flex;
        justify-content: center;
        text-align: center;
        border: 1px #f2f2f2 solid;
        border-radius: 30px;
        box-shadow: 0px 7px 10px #c0c0c0;
        width: 80%;
        height: 70px;
        background-color: #f2f2f2;
        margin-bottom: 20px;
    }

    .fonction i
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 100%;
        color: #848485;
        font-size: 25px;
    }

    .fonction i:hover
    {
        color: #9356DC;
    }

    .fonction p
    {
        display: flex;
        align-items: center;
        height: 100%;
        width: 75%;
        margin: 0%;
    }

    .fonction:hover
    {
        background-color: #e4d5f6;
    }

    .number
    {
        display: flex;
        align-items: center;
        height: 100%;
        width: 10%;
        position: relative;
        transform: translate(-35%);
    }

    .number p
    {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: #9356DC;
    }

    .carte
    {
        width: 90%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        border: 1px #f2f2f2 solid;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #f2f2f2;
    }
    
    .carte img
    {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border: 1px #f2f2f2 solid;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .texte
    {
        margin-left: 20px;
    }

    .texte a
    {
        text-decoration: none;
        color: black;
    }

    .texte h3, .texte p
    {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .bottom_carte
    {
        display: flex;
        justify-content: space-between;
        height: 25%;
    }

    .heart
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 100px;
        height: 100%;
    }

    .heart .fa-solid
    {
        position: relative;
        background: linear-gradient(70deg, #ffa8e6, #ad80e5);
        background-clip: text;
        color: transparent;
        opacity: 0;
        cursor: pointer;
    }

    .heart .fa-regular
    {
        position: absolute;
    }

    .heart .fa-solid:hover
    {
        opacity: 1;
    }

    footer
    {
        background-color: #282f32;
        width: 100%;
    }

    footer h3
    {
        color: white;
        margin-left: 40px;
        padding-top: 20px;
    }

    ul
    {
        list-style-type: none;
        margin: 0%;
    }

    ul li
    {
        padding-bottom: 10px;
    }

    li i
    {
        width: 30px;
    }

    li a
    {
        text-decoration: none;
        color: white;
    }
}